/* Regras gerais */
:root{
    font-size: 19px;
    --bg-color:rgb(45,45,45);
    --main-color: rgb(241,202,45);
    --transcolor: rgba(0, 0, 0, 0.6);
    --transpeed: 0.4s;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: #eee;

}
header{
    width: 100%;
    background-color: var(--transcolor);
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    top: 0;
    position: sticky;
    align-items: center;    
}
h1{
    display: none;
}
main{
    margin: 2%;
}
h2{
    color: var(--main-color);
}
/*Header*/
.logo{
    max-width: 200px;
}
/* Nav bar */
.navbar{
    display: flex; 
}
li{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: #eee;
    padding: 10px;
    margin: 1px 1px 1px 0   ;
    font-size: 150%;
}
.nav-item a:hover{
    transition: var(--transpeed);
    /* text-shadow: posicionamento posicionamento blur cor; */
    /* Da pra separar por vírgula pra adicionar mais de um text-shadow*/ 
    text-shadow: 0 0 4px #fff, 0 0 3px var(--main-color); 
}
/* "Quem somos" e "Eventos" que são Dropdown */
.dropdown ul{
    display: flex;
    flex-direction: column;
    position: absolute; 
    background-color: var(--transcolor);
    padding-top: 40px;
}
.dropdown ul li:hover{
    background-color: rgba(158, 158, 158, 0.1);
}
.dropdown ul li>a{
    display: none;  
    width: 90%;
    text-align: center;
}
.dropdown:hover ul li a{
    transition: var(--transpeed);
    display: flex;
}

/*Fim dropdown*/

/* Área principal */ 
main h2{
    margin: 1% auto;
}
main img:first-of-type{
    display: block;
    width: 100%;
    margin-top: 1rem;
}
main img:nth-of-type(2){
    float: right;
    width: 30%;
}
/*Depoimentos clientes*/
#depoindex{
    width: 100%;
    margin: 0 0 2% 2%;
}
#depocontent{
    width: 67%;
    background-color: rgb(130, 26, 172);
    height: 16rem;
    border: 1px solid red;
}
/*Footer*/
footer{
    width: 94%;
    background-color: var(--transcolor);
    min-height: 50px;
    text-align: center;
    padding: 3%;
}  
.socialmd{
    max-width: 50px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(175, 143, 14);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(117, 114, 114);
}
footer span{
    margin-top: 1%;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 0 0 5px rgb(148, 150, 32);
}