@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* Regras gerais */
:root{
    font-size: 19px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --bg-color:rgb(45,45,45);
    --main-color: rgb(241,202,45);
    --transcolor: rgba(0, 0, 0, 0.6);
    --transpeed: 0.4s;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-color);
    color: #eee;
}
header{
    width: 100%;
    background-color: var(--transcolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    position: sticky;
    align-items: center;    
}
h1{
    display: none;
}
main{
    margin: 2%;
}
h2{
    color: var(--main-color);
}
/*Header*/
.logo{
    max-width: 200px;
}
/* Nav bar */
.navbar{
    display: flex; 
}
li{
    list-style-type: none;
}
.nav-item a{
    text-decoration: none;
    color: #eee;
    padding: 10px;
    margin: 1px 1px 1px 0   ;
    font-size: 150%;
}
.nav-item a:hover{
    transition: var(--transpeed);
    /* text-shadow: posicionamento posicionamento blur cor; */
    /* Da pra separar por vírgula pra adicionar mais de um text-shadow*/ 
    text-shadow: 0 0 4px #fff, 0 0 3px var(--main-color); 
}
/* "Quem somos" e "Eventos" que são Dropdown */
.dropdown ul{
    display: flex;
    flex-direction: column;
    position: absolute; 
    background-color: rgba(18,18,18,0.5);
    padding-top: 40px;
}
.dropdown ul li:hover{
    background-color: rgba(158, 158, 158, 0.1);
}
.dropdown ul li>a{
    display: none;  
    width: 90%;
    justify-content: center;
}
.dropdown:hover ul li a{
    transition: var(--transpeed);
    display: flex;
}

/*Fim dropdown*/

/* Área principal */ 
main h2{
    margin: 1% auto;
}
main img:first-of-type{
    display: block;
    width: 100%;
    margin-top: 1rem;
}
main img:nth-of-type(2){
    float: right;
    width: 30%;
}
/*Saiba mais Quem somos*/
.saibamais{
    min-height: 100px;
}
.saibamais h2{
    text-align: center;
    margin-top: 1rem;
}
.saibamais div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fancybtn{
    padding: 30px;
    min-height: 40px;
    font-size: 2rem;
    transition: var(--transpeed);
    background-color: rgba(161, 161, 161, 0.1);
    border: 1px solid #fff;
    color: #eee;
    text-shadow: 0 0 5px var(--main-color);
    box-shadow: 0 0 5px rgba(241,202,45,0.5);
    border-radius: 13px;
    margin: 3rem auto;
}
.fancybtn:hover{
    transition: var(--transpeed);
    text-shadow: 0 0 9px var(--main-color);
    box-shadow: 0 0 9px var(--main-color);
}
.fancybtn:active{
    transition: 0.3s;
    background-color: rgba(14, 14, 14, 0.8); 
}
/* Área principal quem somos */
.imgequip{
    max-width: 50%;
    float: right;
    border-radius: 10%;
    border: 1px solid var(--main-color);
    margin: 1rem;
}

/*Área principal Nossa Equipe*/
section ul{
    margin: 2rem;
}
h4{
    color: var(--main-color);
    margin: 1rem;
}
section ul p{
    margin: 1rem;
    color: #ddd;
    text-shadow: 0 0 3px rgba(241, 202, 45, 0.4);
}
/*Depoimentos clientes index*/
#depoindex{
    width: 100%;
    margin: 0 0 2% 2%;
}
#depocontent{
    width: 67%;
    background-color: rgb(130, 26, 172);
    height: 16rem;
    border: 1px solid red;
}
/*Area principal Depoimentos dos clientes */
.depodosclientes{
    display: flex;
    padding-left: 100px;
}
.depodosclientes div{
    width: 24%;
    padding: 1%;
    margin-right: 1%;
    margin-top: 1%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: rgb(83, 83, 83);
}

.depodosclientes h4{
    text-align: center;
}
.depodosclientes img{
    border: 3px solid var(--main-color);
    border-radius: 20%;
    width: 80%;
    display: block;
    margin: 0 auto;
}
/*Galeria de fotos*/
#galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#galeria h3{
    padding: 10px;
    text-align: center;
}
#galeria img{
    width: 490px;
    border-radius: 10%; 
    border: 1px solid #fff;
    box-shadow: 0 0 5px var(--main-color);
}
/*Área principal contato*/
header+.redesociais{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}
header+.redesociais .socialmd:hover{
    max-width: 55px;
    position: relative;
}
form{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
label{
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}
form h2{
    text-shadow: 0 0 2px #888;
}
label:last-of-type{
    margin-bottom: 1rem;
}
input,textarea{
    padding: 10px;
    border-radius: 10px;
    margin-top: 1rem;
}
input:focus, textarea:focus{
    border: 2px solid rgb(66, 66, 66);
    box-shadow: 0 0 5px var(--main-color);
}

textarea{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
/*Area principal Eventos*/
.apresentacao{
    margin: 4.5rem;
    font-size: 4rem;
    text-align: center;
}
.apresentacao+div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textoapresentacao{
    width: 40%;
    margin-left: 1rem;
}
.textoapresentacao h3{
    color: var(--main-color);
    font-size: 3rem;
}
.grideventos{
    width: 90%;
    display: grid;
    grid-template: 
    "casamento debutantes empresariais formaturas" 100px
    "casamento debutantes empresariais formaturas" 100px
    "casamento debutantes empresariais formaturas" 100px
    "casamento debutantes empresariais formaturas" 100px
    "casamento debutantes empresariais formaturas" 100px;
    margin: 0 auto;
}
.grideventos div{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    margin: 1px;
    text-align: center;
    transition: var(--transpeed);
    padding-top: 5px;
}
.grideventos div a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
.grideventos div:hover{
    transition: var(--transpeed);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    text-shadow: 0 0 2px var(--main-color);
    padding-top: 30px;
}
.grideventos_casamento{
    grid-area: casamento;
    background-image: url(../img/eventos/vestido.jpg);
}
.grideventos_debutantes{
    grid-area: debutantes;
    background-image: url(../img/eventos/debutante.jpg);
}
.grideventos_empresariais{
    grid-area: empresariais;
    background-image: url(../img/eventos/empresario.jpg);
}
.grideventos_formaturas{
    grid-area: formaturas;
    background-image: url(../img/eventos/formatura.jpg);
}
/*Area principal Dropdown eventos*/
/*DADOS PARA RELATÓRIO DO LUCCA*/
/*Essa parte tá um poucom complexa. 
  presentvideo é o container que vai segurar o video e a div "videoverlay" 
  o videoverlay fica acima no container, ele ganha um position absolute para 
  que o espaço que ele ocupa seja desconsiderado e ele fica em cima do vídeo abaixo 
  O resto é flex pra alinhar, o height de 99.1% é pra pegar o vídeo de ponta a ponta.
  Como o container é relative o menu é sticky deu conflito, mas adicionando um z-index de -1 
   ele tira o conflito.
*/
.presentvideo{
    top: 0;
    position: relative;
    z-index: -1;
}
.presentvideo video{
    width: 100%;
}
.videoverlay{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.7);
    text-shadow: 0 0 15px var(--main-color);
    width: 100%;
    height: 99.1%;
    position: absolute;
    top: 0;
}
.infoscontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Serviços oferecidos em Dropdown eventos*/
.gridinfos{
    width: 90%;
    font-size: 1.3rem;
    display: grid;
    grid-template:
    "grid1 grid2 grid4" 15px
    "grid1 grid2 grid4" 150px 
    "grid1 grid2 grid4" 150px 
    "grid1 grid3 grid4" 150px 
    "grid5 grid5 grid6" 150px
    "grid5 grid5 grid7" 150px
    "grid5 grid5 grid7" 150px;
    margin-left: 1rem;
    padding: 10px;
}
.gridinfos div{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
    margin: 1px;
    text-align: center;
    transition: var(--transpeed);
    padding-top: 5px;
}
.gridinfos div:hover{
    transition: var(--transpeed);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    text-shadow: 0 0 2px var(--main-color);
    padding-top: 30px;
}
.griditem1{
    border-top-left-radius: 30px;
    grid-area: grid1;
}
.griditem2{
    grid-area: grid2;
}
.griditem3{
    grid-area: grid3;
}
.griditem4{
    grid-area: grid4;
    border-top-right-radius: 30px;
}
.griditem5{
    grid-area: grid5;
    border-bottom-left-radius: 30px;
}
.griditem6{
    grid-area: grid6;
}
.gridinfos .fancybtn{
    grid-area: grid7;
}
     /*Imagens info casamento*/
    .fotografia{
        background-image: url(../img/eventos/fotografia.jpg);
    }
    .deco{
        background-image: url(../img/eventos/decoracao.jpg);
    }
    .luamel{
        background-image: url(../img/eventos/luamel.jpg);
    }
    .doces{
        background-image: url(../img/eventos/doces.jpg);
    }
    .vestido{
        background-image: url(../img/eventos/vestido.jpg);
    }
    .convites{
        background-image: url(../img/eventos/convite.jpg);
    }
    /*Imagens info debutatantes*/
    .musicos{
        background-image: url(../img/eventos/dj.jpg);
    }
    .iluminacao{
        background-image: url(../img/eventos/iluminacao.jpg);
    }
    /*Imagens info empresariais*/
    .palco{
        background-image: url(../img/eventos/palco.jpg);
    }
    .convites_empresa{
        background-image: url(../img/eventos/convite_empresa.jpg);
    }
    /*Imagens info formatura*/
    .baile{
        background-image: url(../img/party-2.jpg);
        background-position: right;
    }
    .colacao{
        background-image: url(../img/eventos/colacao_de_grau.jpg);
    }

/*Footer*/
footer{
    margin-top: 1.8rem;
    width: 100%;
    background-color: var(--transcolor);
    min-height: 50px;
    text-align: center;
    padding: 3%;
}  
.socialmd{
    transition: var(--transpeed);
    max-width: 50px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(175, 143, 14);
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(117, 114, 114);
}
.socialmd:hover{
    transition: var(--transpeed);
    background-color: var(--main-color);
    box-shadow: 0 0 6px #fff;
}
footer span{
    margin-top: 1%;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.7rem;
    text-shadow: 0 0 5px rgb(148, 150, 32);
}